.c-header {
    position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}
.c-header-2 {
	.ui-navbar {
		background: white;
	}
	.navbar-brand {
		left: 3.625rem;
		color: #616161;
		@include translate(0, -50%);
	}
}
.ui-navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: $header-height;
    background: white url(#{$img}#{nth($bg-image, $style)}) no-repeat center top/100% auto;
	.nav-link {
		padding: .5rem 1.25rem;
		line-height: 1;
		i {
			display: inline-block;
			position: relative;
			width: 1.5rem;
			height: 1.5rem;
			font-style: normal;
			line-height: 1;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
        }
		.icon-notice {
			margin-right: .375rem;
			background-image: url(#{$img}#{nth($icon-notice-image, $style)});
			.count {
				display: inline-block;
				position: absolute;
				right: -.875rem;
				top: -.125rem;
				min-width: 1.125rem;
				height: 1.125rem;
				text-align: center;
				color: white;
				font-size: .75rem;
				line-height: 1.125rem;
				background-color: #E64950;
				border: 1px solid white;
				border-radius: 50%;
			}
		}
		.icon-back {
			background-image: url(#{$img}icon_back.png);
		}
		.icon-back-grey {
			background-image: url(#{$img}icon_back_grey.png);
		}
		.icon-clear-grey {
			width: 1rem;
			height: 1rem;
			background-image: url(#{$img}icon_clear_grey.png);
		}
    }
}
.navbar-brand {
	position: absolute;
	left: 50%;
	top: 50%;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
	color: white;
    font-size: 1.125rem;
	white-space: nowrap;
	@include translate(-50%, -50%);
	img {
		height: 2.375rem;
	}
}
.main-navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
    height: $header-height;
	.navbar-nav {
		display: flex;
		flex-direction: column;
	}
	.nav-link {
		padding: .5rem 1rem;
		line-height: 1;
		i {
			display: inline-block;
			position: relative;
			width: 1rem;
			height: 1rem;
			font-style: normal;
			line-height: 1;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
        }
		.icon-clear {
			margin-right: .375rem;
			background-image: url(#{$img}#{nth($icon-clear-image, $style)});
		}
    }
}
.c-main {
	position: relative;
}
.c-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.ui-tabbar {
	--bs-gutter-x: 1rem;
	flex-wrap: nowrap;
	margin-left: 0;
	margin-right: 0;
    background-color: white;
	box-shadow: 0 .1875rem .375rem rgba(black, .3);
	.col {
		position: relative;
	}
	.tab-link {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: $footer-height;
		text-align: center;
		text-decoration: none;
	}
	.tab-img {
		margin-top: .3125rem;
		line-height: 1;
		i {
			display: inline-block;
			position: relative;
			width: 1.4375rem;
			height: 1.4375rem;
			font-style: normal;
			line-height: 1;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		.icon-good {
			background-image: url(#{$img}icon_good.png);
		}
		.icon-cart {
			background-image: url(#{$img}icon_cart.png);
		}
		.icon-shop {
			background-image: url(#{$img}icon_shop.png);
		}
		.icon-product {
			background-image: url(#{$img}icon_product.png);
		}
		.icon-cash {
			background-image: url(#{$img}icon_cash.png);
		}
		.icon-member {
			background-image: url(#{$img}icon_member.png);
		}
		.icon-qrcode {
			background-image: url(#{$img}icon_qrcode.png);
		}
	}
	.tab-title {
		margin-top: .125rem;
		color: #737373;
		font-size: .8125rem;
		white-space: nowrap;
	}
	.active {
		.tab-img {
			.icon-good {
				background-image: url(#{$img}icon_good_select.png);
			}
			.icon-cart {
				background-image: url(#{$img}icon_cart_select.png);
			}
			.icon-shop {
				background-image: url(#{$img}icon_shop_select.png);
			}
			.icon-product {
				background-image: url(#{$img}icon_product_select.png);
			}
			.icon-cash {
				background-image: url(#{$img}#{nth($icon-cash-select-image, $style)});
			}
			.icon-member {
				background-image: url(#{$img}#{nth($icon-member-select-image, $style)});
			}
			.icon-qrcode {
				background-image: url(#{$img}icon_qrcode_select.png);
			}
		}
		.tab-title {
			color: nth($primary-color, $style);
		}
	}
}
.ui-tabbtn {
    background-color: #eee;
	overflow: hidden;
	.row {
		--bs-gutter-x: 2rem;
		align-items: center;
		margin-left: 0;
		margin-right: 0;
		height: $footer-height;
	}
    .col {
        text-align: center;
    }
}
.fixfixed {
	.c-header {
		position: absolute;
	}
	.c-main {
		padding-bottom: 0 !important;
	}
	.c-footer {
		position: static;
	}
}