.card {
    border: 0;
    border-radius: 0;
    .card-header {
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }
    .card-img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #e5e5e5;
        border-radius: 0;
        object-fit: cover;
        object-position: center top;
    }
    .card-title {
        margin-bottom: 0;
        color: #4A4A4A;
        font-size: .9375rem;
        font-weight: bold;
    }
    .card-text {
        color: #737373;
        font-size: .875rem;
    }
    .card-date {
        margin-top: .5rem;
        color: #AAA;
        font-size: .75rem;
    }
    .card-price {
        position: absolute;
        bottom: 0;
        color: #4A4A4A;
        font-size: .9375rem;
        font-weight: bold;
    }
    .card-shelf, .card-stock {
        color: #4A4A4A;
        font-size: .9375rem;
        .green {
            color: #34b434;
        }
        .red{
            color: #fa6f6f;
        }
    }
}
.notice-container {
    .card {
        flex-direction: row;
        border-bottom: 1px solid #D5D5D5;
        .card-header {
            flex: 0 0 auto;
            padding: .875rem 0 .875rem .875rem;
            width: 3rem;
            .card-link {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
            }
        }
        .card-body {
            flex: 0 0 auto;
            padding: .875rem;
            width: calc(100% - 3rem);
        }
    }
}
.product-container {
    margin-top: .6875rem;
    margin-bottom: 4.25rem;
    .card {
        margin-bottom: .625rem;
        .card-body {
            padding: .625rem .625rem 1rem .625rem;
            .row {
                --bs-gutter-x: 0;
            }
            .col-left {
                flex: 0 0 auto;
                position: relative;
                width: 5rem;
                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
            }
            .col-right {
                flex: 0 0 auto;
                position: relative;
                padding-left: .625rem;
                width: calc(100% - 5rem);
            }
        }
        .card-footer {
            background-color: white;
            border-color: #f2f2f2;
            border-radius: 0;
        }
    }
}
.good-container {
    padding: 1.125rem;
    .card {
        margin-bottom: 1.125rem;
        border-radius: .5rem;
        box-shadow: 0 .125rem .5rem rgba(black, .15);
        .card-header {
            padding: 0;
            .card-link {
                display: block;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 56.25%;
                }
            }
        }
        .card-img {
            border: 0;
            border-radius: .5rem .5rem 0 0;
        }
        .card-body {
            padding: 1rem 1rem .625rem;
            .card-link {
                text-decoration: none;
            }
            .col + .col {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: .5rem;
                    width: .0625rem;
                    height: 1.625rem;
                    background-color: #e5e5e5;
                }
            }
            .btn {
                display: block;
                margin-top: .3125rem;
                text-align: center;
                color: #A1A1A1;
                font-size: .875rem;
                line-height: 1;
                text-decoration: none;
                &.active {
                    color: #FEA949;
                    .icon-favorite {
                        background-image: url(#{$img}icon_favorite_select.png);
                    }
                }
                i {
                    display: inline-block;
                    margin-right: .5rem;
                    width: 1.125rem;
                    height: 1.125rem;
                    vertical-align: -.25rem;
                    font-style: normal;
                    line-height: 1;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                .icon-favorite {
                    background-image: url(#{$img}icon_favorite.png);
                }
                .icon-navigation {
                    background-image: url(#{$img}icon_navigation.png);
                }
            }
        }
        .card-title {
            margin-bottom: .5rem;
            color: black;
            font-size: 1rem;
        }
    }
}