.main-content {
  margin-top: $header-height;
  margin-bottom: calc($footer-height + 15px);
  padding: 0.25rem;
}

.custom-ios {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.no-data {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 5rem;

  img {
    width: 50%;
    margin: 0 auto;
  }

  p {
    color: #777777;
    font-size: 1rem;
    margin: 0 auto;
  }
}