<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- {{cards}} -->
      <template>
        <v-app>
          <v-main>
            <v-btn
              class="custom-addBtn"
              fab
              dark
              color="primary"
              small
              @click="dialog = true"
            >
              <v-icon dark> mdi-plus </v-icon>
            </v-btn>

            <v-container>
              <v-col class="custom-blueColor"><pre>{{i18n.teach}}</pre></v-col>
              <!-- dowload start -->
              <v-row>
                <v-col cols="4">
                  <v-select
                    v-model="executeMode"
                    :items="executeModes"
                    item-text="state"
                    item-value="value"
                    label="選擇localStorage檔案"
                    return-object
                    single-line
                  ></v-select>
                </v-col>
                <v-col class="d-flex justify-center" cols="1"><a href="#" id="download" class="custom-a">download</a></v-col>
              </v-row>
              <!-- end download -->
              <template v-for="(cardItem,index) in cards">
                <!-- card start -->
                <v-card class="mx-auto my-5 custom-p-5" max-width="900">
                  <!-- card head start -->
                  <v-card-title>
                    <h3>{{cards[index].title}}</h3>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          icon
                          v-bind="attrs"
                          v-on="on"
                          @click="saveId(cards[index])"
                        >
                          <v-icon>mdi-content-save</v-icon>
                        </v-btn>
                      </template>
                      <span>{{i18n.save}}</span>
                    </v-tooltip>
                  </v-card-title>
                  <!-- card head end -->
                  <v-card-subtitle> </v-card-subtitle>
                  <!-- cart text start -->
                  <v-card-text>
                    <template>
                      <v-form>
                        <v-container>
                          <!-- monthPrice -->
                          <v-row class="d-flex justify-center align-center">
                            <v-col cols="12" sm="3">
                              <v-text-field
                                v-model="cards[index].monthPrice"
                                type="number"
                                :label="textLabel.wantBenefit"
                                :rules="[rules.percentMin(cards[index].monthPrice,0), rules.percentMax(cards[index].monthPrice,cards[index].total)]"
                                :min="0"
                              ></v-text-field>
                            </v-col>
                            <v-spacer></v-spacer>
                            <v-col
                              ><span class="custom-redColor">
                                {{ i18n.limit + toNTD(cards[index]?.total)}}
                              </span>
                            </v-col>
                            <v-col
                              ><span>
                                {{ i18n.mobileLimit +
                                toNTD(cards[index]?.mobile?.sum)}}
                              </span>
                            </v-col>
                            <v-col
                              ><span>
                                {{ i18n.cashLimit +
                                toNTD(cards[index]?.cash?.sum)}}
                              </span>
                            </v-col>
                          </v-row>
                          <!-- mobile -->
                          <v-row class="d-flex justify-center align-center">
                            <v-col cols="12" sm="4">
                              <v-text-field
                                v-model="cards[index].mobilePercent"
                                :label="textLabel.mobile"
                                type="number"
                                append-icon="mdi-percent"
                                :rules="[rules.percentMin(cards[index].mobilePercent,0), rules.percentMax(cards[index].mobilePercent,100)]"
                                :min="0"
                                :max="100"
                              ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="4">
                              <v-text-field
                                v-model="calculatePrice(cards[index],'mobile')"
                                :label="textLabel.calculate"
                                :rules="[rules.percentMax(calculatePrice(cards[index],'mobile'), cards[index].mobile.sum  )]"
                                readonly
                              ></v-text-field>
                            </v-col>
                            <v-spacer></v-spacer>
                            <v-col cols="12" sm="4">
                              <span
                                >{{i18n.mobileRatio +
                                calculatePercent(cards[index],'mobile') + '%'
                                }}</span
                              >
                            </v-col>
                          </v-row>
                          <!-- cash -->
                          <v-row class="d-flex justify-center align-center">
                            <v-col cols="12" sm="4">
                              <v-text-field
                                v-model="100-cards[index].mobilePercent"
                                :label="textLabel.cash"
                                type="number"
                                append-icon="mdi-percent"
                                :rules="[rules.percentMin(100-cards[index].mobilePercent,0), rules.percentMax(100-cards[index].mobilePercent,100)]"
                                disabled
                              ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="4">
                              <v-text-field
                                v-model="calculatePrice(cards[index],'cash')"
                                :label="textLabel.calculate"
                                :rules="[rules.percentMax(calculatePrice(cards[index],'cash'), cards[index].cash.sum  )]"
                                readonly
                              ></v-text-field>
                            </v-col>
                            <v-spacer></v-spacer>
                            <v-col cols="12" sm="4">
                              <span
                                >{{i18n.cashRatio +
                                calculatePercent(cards[index],'cash') + '%'
                                }}</span
                              >
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col class="d-flex justify-center align-center"
                              ><v-btn
                                color="primary lighten-2"
                                large
                                @click="redo(index)"
                              >
                                {{i18n.random}}
                              </v-btn></v-col
                            >
                          </v-row>
                        </v-container>
                      </v-form>
                    </template>
                  </v-card-text>
                  <!-- cart text end -->
                  <!-- collapse start  -->
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="cards[index].show = !cards[index].show">
                      <v-icon
                        >{{ cards[index].show ? 'mdi-chevron-up' :
                        'mdi-chevron-down' }}</v-icon
                      >
                    </v-btn>
                  </v-card-actions>
                  <!-- collapse end  -->
                  <v-expand-transition>
                    <div v-show="cards[index].show">
                      <v-divider></v-divider>
                      <!-- table start -->
                      <template>
                        <v-data-table
                          :headers="cards[index].headers"
                          :items="cards[index].items"
                          :items-per-page="10"
                          class="elevation-1"
                          no-data-text="No data"
                          hide-default-footer
                          :page.sync="cards[index].page"
                          @page-count="cards[index].pageCount = $event"
                        ></v-data-table>
                        <div class="text-center pt-2">
                          總金額: {{cards[index].newTotal}} | 總筆數:
                          {{cards[index].newRows}}
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn icon v-bind="attrs" v-on="on">
                                <v-icon>mdi-information</v-icon>
                              </v-btn>
                            </template>
                            <span>
                              行動支付:{{cards[index].newMobileTotal}} |
                              現金支付: {{cards[index].newCashTotal}} |
                              行動筆數: {{cards[index].newMobileRows}} |
                              現金筆數: {{cards[index].newCashRows}}</span
                            >
                          </v-tooltip>
                        </div>

                        <div class="text-center pt-2">
                          <v-pagination
                            v-model="cards[index].page"
                            :length="cards[index].len-2"
                            circle
                            :total-visible="10"
                            @next="next(cards[index],index)"
                            @input="next(cards[index],index)"
                          ></v-pagination>
                        </div>
                      </template>
                      <!-- table end -->
                    </div>
                  </v-expand-transition>
                </v-card>
                <!-- card end -->
              </template>
            </v-container>

            <!-- dialog-card start -->
            <template>
              <v-dialog v-model="dialog" width="500">
                <v-card>
                  <!-- close X -->
                  <v-col class="d-flex justify-end">
                    <v-btn icon x-large @click="dialog = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-col>
                  <!-- card text start -->
                  <v-card-text>
                    <v-col class="d-flex" cols="12">
                      <v-select
                        v-model="select"
                        :items="items"
                        :label="textLabel.date"
                        outlined
                      ></v-select>
                    </v-col>
                  </v-card-text>
                  <!-- card text end -->
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="addCard()"
                      :disabled="btnState"
                    >
                      {{i18n.ok}}
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <!-- dialog-card end -->
          </v-main>
        </v-app></template
      >
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
