$img: '@/assets/image/';

$header-height: 3rem;
$footer-height: 3.3125rem;

$sites: purple, pink;
$style: index($sites, pink);

$bg-image: 'bg_01.png', 'bg_02.png';
$login-bg-image: 'login_bg.png', 'login_bg2.png';
$primary-color: #8f63cf, #ff7300;
// $primary-color: #8f63cf, #f8777d;
$secondary-color: #6f216d, #a83333;
$border-color: #e8e8e8;
$formcheck-color: '%238f63cf', '%23f8777d';

@media (max-width: 360px) {
	html, body {
		font-size: .96rem;
	}
}
@media (max-width: 320px) {
	html, body {
		font-size: .85rem;
	}
}
@media (min-width: 411px) {
	html, body {
		font-size: 1.1rem;
	}
}
@media (min-width: 768px) {
	html, body {
		font-size: 1.25rem;
	}
}