.index-block {
	padding: .75rem;
	background-color: white;
	border-radius: .375rem .375rem 0 0;
}
.banner-container {
    margin-top: 1rem;
    text-align: center;
    a {
        display: block;
    }
    img {
        max-width: 100%;
        border-radius: .25rem;
    }
}
.menu-outer, .menu-outer-b {
    margin-top: 1rem;
    .row {
        --bs-gutter-x: 0;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
    }
    .col {
        display: flex;
        align-items: center;
        position: relative;
        height: 4rem;
        &:before {
            position: absolute;
            top: 50%;
            width: 1.375rem;
            height: 2rem;
            text-align: center;
            color: nth($secondary-color, $style);
            font-size: 1.75rem;
            line-height: 2rem;
            background-color: rgba(white, .5);
            @include translate(0, -50%);
        }
        &:after {
            content: "";
            position: absolute;
            right: -1.1875rem;
            top: 0;
            z-index: 1;
        }
        &:nth-child(1) {
            padding-left: 2.1875rem;
            max-width: 29%;
            background-color: #c7b1e7;
            border-radius: .25rem 0 0 .25rem;
            &:before {
                content: "1";
                left: .5625rem;
            }
            &:after {
                @include triangle(right, 4rem, #c7b1e7, .3);
            }
        }
        &:nth-child(2) {
            padding-left: 3.1875rem;
            max-width: 34%;
            background-color:#ab8adb;
            &:before {
                content: "2";
                left: 1.5625rem;
            }
            &:after {
                @include triangle(right, 4rem, #ab8adb, .3);
            }
        }
        &:nth-child(3) {
            padding-left: 3.1875rem;
            max-width: 37%;
            background-color: nth($primary-color, 1);
            border-radius: 0 .25rem .25rem 0;
            &:before {
                content: "3";
                left: 1.5625rem;
            }
            &:after {
                display: none;
            }
        }
    }
	.menu-link {
		text-decoration: none;
	}
    .menu-subtitle {
        color: rgba(white, .75);
        font-size: .8125rem;
        line-height: 1.3;
        font-weight: bold;
    }
    .menu-title {
        color: white;
        font-size: .9375rem;
        line-height: 1.3;
        font-weight: bold;
        white-space: nowrap;
    }
}
.menu-outer-b {
    .col {
        &:nth-child(1) {
            padding-left: 4rem;
            max-width: 46%;
            background-color: #fba8ac;
            &:before {
                left: 2.25rem;
            }
            &:after {
                @include triangle(right, 4rem, #fba8ac, .3);
            }
        }
        &:nth-child(2) {
            padding-left: 5rem;
            max-width: 54%;
            background-color: nth($primary-color, 2);
            border-radius: 0 .25rem .25rem 0;
            &:before {
                left: 3.25rem;
            }
            &:after {
                display: none;
            }
        }
    }
}
.menu-outer-2 {
    margin-top: 1rem;
    .row {
        --bs-gutter-x: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .col-3 {
        margin-bottom: .875rem;
        &:nth-child(1) {
            .menu-img {
                @include background(lefttop, #70bdf9, #5685f3);
            }
        }
        &:nth-child(2) {
            .menu-img {
                @include background(lefttop, #f6dc4f, #eeaf3b);
            }
        }
        &:nth-child(3) {
            .menu-img {
                @include background(lefttop, #7de2c5, #56b899);
            }
        }
        &:nth-child(4) {
            .menu-img {
                @include background(lefttop, #f197ca, #e93e8e);
            }
        }
        &:nth-child(5) {
            .menu-img {
                @include background(lefttop, #f1a064, #e9703e);
            }
        }
        &:nth-child(6) {
            .menu-img {
                @include background(lefttop, #79D4DE, #5AB4BC);
            }
        }
        &:nth-child(7) {
            .menu-img {
                @include background(lefttop, #F08E9D, #EA4857);
            }
        }
        &:nth-child(8) {
            .menu-img {
                @include background(lefttop, #CA8ADB, #B863CF);
            }
        }
    }
	.menu-link {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		text-decoration: none;
	}
	.menu-img {
        display: inline-block;
        margin: 0 auto .375rem;
        width: 3.75rem;
        height: 3.75rem;
		color: white;
		font-size: 1.875rem;
		line-height: 3.75rem;
        border-radius: 1rem;
	}
	.menu-title {
		color: #333;
		font-size: .9375rem;
		white-space: nowrap;
	}
}
.menu-outer-3 {
    .row {
        --bs-gutter-x: 0;
        margin-left: -.75rem;
        margin-right: -.75rem;
    }
    .col-12 {
        &:first-child {
            .menu-link {
                border-top: 1px solid $border-color;
            }
        }
    }
    .menu-link {
        display: flex;
        align-items: center;
        position: relative;
        padding: .5rem 1rem .5rem 2.625rem;
        border-bottom: 1px solid $border-color;
		text-decoration: none;
        &:before {
            content: "";
            position: absolute;
            left: 1.25rem;
            top: 50%;
            width: .625rem;
            height: .625rem;
            background-color: rgba(nth($primary-color, $style), .5);
            @include translate(0, -50%);
        }
        &:after {
            content: "";
            flex-shrink: 0;
            margin-left: auto;
            width: .875rem;
            height: .875rem;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23999999'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-size: .875rem;
            @include rotate(-90deg);
        }
    }
    .menu-title {
		color: #333;
		font-size: 1rem;
    }
}
.menu-outer-4 {
    margin-top: 1rem;
    .row {
        --bs-gutter-x: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .col-4 {
        margin-bottom: .875rem;
        &:nth-child(1) {
            .menu-link {
                @include background(lefttop, #7de2c5, #56b899);
            }
        }
        &:nth-child(2) {
            .menu-link {
                @include background(lefttop, #f6dc4f, #eeaf3b);
            }
        }
        &:nth-child(3) {
            .menu-link {
                @include background(lefttop, #f197ca, #e93e8e);
            }
        }
    }
	.menu-link {
		display: flex;
		justify-content: center;
		flex-direction: column;
        padding: 1rem .5rem .875rem;
		text-align: center;
        border-radius: .75rem;
		text-decoration: none;
	}
	.menu-img {
        display: inline-block;
        margin-bottom: .375rem;
		color: white;
		font-size: 2rem;
		line-height: 2rem;
	}
	.menu-title {
		color: white;
		font-size: .9375rem;
        font-weight: bold;
		white-space: nowrap;
	}
}