@mixin background($angle, $from, $to) {
	@if $angle == top {
		background: $from;
		background: -webkit-linear-gradient(top, $from, $to);
		background: -moz-linear-gradient(bottom, $from, $to);
		background: -o-linear-gradient(bottom, $from, $to);
		background: linear-gradient(to bottom, $from, $to);
	}
	@else if $angle == left {
		background: $from;
		background: -webkit-linear-gradient(left, $from, $to);
		background: -moz-linear-gradient(right, $from, $to);
		background: -o-linear-gradient(right, $from, $to);
		background: linear-gradient(to right, $from, $to);
	}
	@else if $angle == lefttop {
		background: $from;
		background: -webkit-linear-gradient(left top, $from, $to);
		background: -moz-linear-gradient(right bottom, $from, $to);
		background: -o-linear-gradient(right bottom, $from, $to);
		background: linear-gradient(to right bottom, $from, $to);
	}
	@else if $angle == circle {
		background: $from;
		background: -webkit-radial-gradient(circle, $from, $to);
		background: -moz-radial-gradient(circle, $from, $to);
		background: -o-radial-gradient(circle, $from, $to);
		background: radial-gradient(circle, $from, $to);
	}
}

@mixin triangle($angle, $size, $color, $type:.7) {
	width: 0;
	height: 0;
	@if $angle == top {
		border-bottom: calc($size*$type) solid $color;
		border-left: calc($size/2) solid transparent;
		border-right: calc($size/2) solid transparent;
	}
	@else if $angle == right {
		border-left: calc($size*$type) solid $color;
		border-top: calc($size/2) solid transparent;
		border-bottom: calc($size/2) solid transparent;
	}
	@else if $angle == bottom {
		border-top: calc($size*$type) solid $color;
		border-left: calc($size/2) solid transparent;
		border-right: calc($size/2) solid transparent;
	}
	@else if $angle == left {
		border-right: calc($size*$type) solid $color;
		border-top: calc($size/2) solid transparent;
		border-bottom: calc($size/2) solid transparent;
	}
	@else if $angle == lefttop {
		border-left: $size solid $color;
		border-bottom: $size solid transparent;
	}
	@else if $angle == leftbottom {
		border-left: $size solid $color;
		border-top: $size solid transparent;
	}
	@else if $angle == righttop {
		border-right: $size solid $color;
		border-bottom: $size solid transparent;
	}
	@else if $angle == rightbottom {
		border-right: $size solid $color;
		border-top: $size solid transparent;
	}
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin translate($x, $y){
	@include transform(translate($x, $y));
}

@mixin rotate($deg){
	@include transform(rotate($deg));
}

@mixin scale($scale){
	@include transform(scale($scale));
}

@mixin scaleX($scale){
	@include transform(scaleX($scale));
}

@mixin scaleY($scale){
	@include transform(scaleY($scale));
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}