<!DOCTYPE html>
<html>

<body>

    <p> GET Form </p>
    <form action="getdata" method="GET">
        姓名 : <input name="name" type="text">
        <input type="submit" value="送出GET表單">
    </form>

    <p> POST Form </p>
    <form action="postdata" method="POST">
        <%= id %> : <input name="name" type="text">
        密碼 : <input name="pwd" type="password">
        <input type="submit" value="送出POST表單">
    </form>

</body>

</html>